:root {
  --main-color: #B28756;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

/* WIDGET */

.button {
  display: inline-block;
  background-color: var(--main-color);
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}

.button:hover {
  background-color: #9b703f;
}

/* HEADER */

header {
  height: 100px;
  background-color: #000;
  color: #FFF;
}

.header {
  max-width: 1140px;
  height: 100px;
  display: flex;
  margin: auto;
  align-items: center;
}

.header .logo img{
  height: 100px;
}

.header .menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .menu .menu ul, .menu li {
  list-style: none;
}

.header .menu ul {
  display: flex;
}

.header .menu li a {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items:center;
  height: 100px;
  border-bottom:5px solid #000;
}

.header .menu .active a,
.header .menu li a:hover {
  border-bottom: 5px solid var(--main-color);
  color: #CCC;
}

/* END-HEADER */

/* BANNER */

.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url(../images/complementos/bg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slider {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #FFF;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner h1 span {
  color: var(--main-color);
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 20px;
}

.banner .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: var(--main-color);
}

/* END-BANNER */

/* DEFAULT */

.default {
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

}

.default .section-title {
  font-size: 20px;
  font-weight: bold;
}

.default .section-desc {
  font-size: 13px;
  color: #AAA;
  margin-top: 10px;
  margin-bottom: 40px;
}

.default .section-body {
  max-width: 1140px;
  margin: auto;
}

.default.light {
  background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
  color: #000;
}

.default.dark {
  background-color: #000/*lana palegreennunes lightgreen luna prvin billie scooby amy lize*/;
}

.default.dark .section-title, 
.default.dark .section-body {
  color: #FFF;
}

/* END-DEFAULT */

/* ABOUT US LEFT */

.section-about-us {
  display: flex;
}

.about-us-left {
  flex: 1;
}

.about-us-left P {
  font-size: 14px;
  line-height: 25px;
}

/* ABOUT US RIGHT */

.about-us-right {
  width: 520px;
  text-align: center;
}

.about-us-right img {
  width: 480px;
  box-shadow: 0px 5px 10px #333;
}

/* SERVICES */

.section-services {
  display: flex;
}

.section-service {
  flex: 1;
  text-align: center;
  border-right: 1px solid #333;
  padding: 15px;
}

.section-service:first-child {
  border-left: 1px solid #333;
}

.section-service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.section-service p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}

/* PROJECTS */

.section-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-projects-filters {
  border: 1px solid #CCC;
  background-color: #EEE;
  border-radius: 30px;
  display: inline-block;
  padding:0px 20px ;
}

.section-projects-filters ul,
.section-projects-filters li {
  list-style: none;
}

.section-projects-filters li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border-left: 1px solid #CCC;
  color: #777;
  border-bottom: 3px solid #EEE;
  cursor: pointer;
}

.section-projects-filters li:hover,
.section-projects-filters .active {
  border-bottom: 3px solid var(--main-color);
  color: #111
}

.section-projects-filters li:first-child {
  border-left: none;
}

.section-projects-photos {
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-projects-photo {
  width: 280px;
}

.section-projects-photoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section-projects-photoarea img{
  width: inherit;
  height: inherit;
}

.section-projects-photoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  height: inherit;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.section-projects-photoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}

.section-projects-photoarea:hover .section-projects-photoinfo {
  display: flex;
}


/* OUR TEAM */

.bg-team {
  background-image: url(/assets/images/complementos/bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section-team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
}

.section-team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section-team .sliders {
  width: 1000vw;
  height: 100%;
}

.section-team .slider {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #FFF;
  margin-right: 20px;
}

.section-team .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 30px;
}

.section-team-area .sliders-pointers {
  margin-top: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-team-area .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.section-team-area .pointer.active {
  background-color: var(--main-color);
}

.section-team-avatar {
  width: 130px;
  height: auto;
}

.section-team-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}

.section-team-role {
  margin-top: 3px;
  font-size: 14px;
  color: #777;
}

.section-team-social {
  display: flex;
  margin-top: 20px;
}

.section-team-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #CCC;
  border-radius: 13px;
  margin-right: 10px;
  transition: 0.5s;
}

.section-team-social a:hover {
  background-color: var(--main-color);
}

/* HAPPY CLIENTS */

.default.light.happy {
  background-color: #EEE;
}


.default.light.happy .section-body {
  max-width: 100%;
}

.section-happy-clients {
  overflow: hidden;
}

.section-happy-clients .sliders {
  width: 1000vw;
  height: 100%;
}

.section-happy-clients .slider {
  width: 100vw;
  height: 100%;
  display: inline-flex;
  justify-content: center;
}

.section-happy-clients .slidearea {
  width: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  color: #000;
}

.section-happy-clients .sliders-pointers {
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
}

.section-happy-clients .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  margin-right: 5px;
  cursor: pointer;
}

.section-happy-clients .pointer.active {
  background-color: var(--main-color);
}

.section-happy-clients .imgBx {
  margin-top: 50px;
}

.section-happy-clients .section-clients-name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
}

.section-happy-clients .section-clients-role {
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.section-happy-clients .section-clients-icon {
  margin: 30px 0 10px 0;
}

.section-clients-review {
  margin-bottom: 70px;
  font-size: 14px;
}

/* SECTION BUSINESS */

.section-business {
  margin: auto;
}

.section-business .section-body {
  padding: 50px 0;
  margin: auto;
  max-width: 1140px;
}

.section-business .box-img {
  display: flex;
  justify-content: space-around;
}

/* PRICE */

.widget {
  height: 2px;
  width: 10px;
  background-color: #777;
  border: none;
}

.section-prices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-prices .pricearea {
  width: 270px;
  padding: 30px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
}

.section-prices .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #555;
  text-transform: uppercase;
}

.section-prices .value {
  font-size: 25px;
  font-weight: bold;
}

.section-prices .month {
  font-size: 12px;
  margin-bottom: 10px;
  color: #AAA;
  text-transform: uppercase;
}

.section-prices .desc {
  margin: 10px 0;
  color: #555;
}

.section-prices .button {
  display: inline-block;
  background-color: #222;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 15px 35px;
  margin-top: 30px;
  border-radius: 20px;
}

.section-prices .button:hover {
  background-color: var(--main-color);
}

/* PREMIUM */

.default.light.premium {
  background-color: #FFF;
}

.default.light.premium .section-body {
  margin: 0;
  margin-bottom: 50px;
}

.section-premium .sliders {
  width: 1000vw;
  height: 100%;
}

.section-premium .slider {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

.section-premium .slidearea {
  max-width: 1140px;
  display: flex;
  margin: auto;
  height: 100%;
  justify-content: space-around;
  color: #000;
  border-bottom: 1px solid #CCC;
  padding-bottom: 80px;
}

.section-premium .sliders-pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.section-premium .pointer {
  height: 15px;
  width: 15px;
  border: 2px solid var(--main-color);
  border-radius: 8px;
  margin-right: 5px;  
  cursor: pointer;
}

.section-premium .pointer.active {
  background-color: var(--main-color);
}

.section-premium .premium-title {
  display: flex;
  margin-top: 25px;
}

.section-premium .title {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: bold;
}

.section-premium .desc {
  margin-left: 65px;
  font-size: 13px;
  line-height: 1.7;
  color: #999;
}

.section-premium .features {
  display: flex;
  flex-direction: column;
  margin-left: 65px;
  font-size: 13px;
  color: #999;
}

.section-premium .feature {
  display: flex;
  margin-top: 10px;
  margin-left: 9px;
}

.section-premium .feature::before {
  content: '';
  position: relative;
  width: 10px;
  height: 2px;
  right: 6px;
  top: 8px;
  background-color: #bbb;
}

.section-premium .boxbtn {
  width: 100vw;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  top: 90px;
}

/* Some Facts */

.section-some-facts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section-some-fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-height: 270px;
  text-align: center;
  padding: 15px;
  width: 230px;
}

.section-some-fact .numbers{
  font-size: 50px;
  font-weight: bold;
  color: var(--main-color);
}

.section-some-fact .widget {
  width: 20px;
  height: 3px;
}


.section-some-fact h4 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.section-some-fact p {
  max-width: 190px;
  margin-top: 20px;
  font-size: 13px;
  color: #999;
}

.section-some-fact:nth-child(2) p,
.section-some-fact:nth-child(4) p {
  margin-top: 43px;
}

/* SOCIAIS */

.section-sociais {
  border-bottom: 1px solid #ccc;
}

.section-sociais .section-body {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  padding: 20px 0;

}

.section-sociais .title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #AAA;
}

.section-sociais .social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.section-sociais .social:nth-child(3) {
  background-color: #00acee;
}

.section-sociais .social:nth-child(5) {
  background-color: #0e76a8;
}

.section-sociais .social:nth-child(7) {
  background-color: #3b5998;
}

.section-sociais .social:nth-child(9) {
  background-color: #DD4B39;
}

.section-sociais .social:nth-child(11) {
  background-color: #c8232c;
}

.section-sociais .numbers {
  position: relative;
  font-size: 11px;
  right: 30px;
  font-weight: 600;
  color: #AAA;
}

/* CONTACT US */

.default.light.contact-us {
  background-color: #EEE;
}

.section-contact-us .inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-contact-us input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #BBB;
  outline: none;
  color: #333;
  background-color: #EEE;
  font-size: 20px;
  padding: 10px;
}

.section-contact-us .name {
  display: flex;
}

.section-contact-us input[name="name"] {
  margin-right: 35px;
  width: 330px;
  font-size: 20px;
}
.section-contact-us input[name="email"] {
  width: 330px;
  font-size: 20px;
}

.section-contact-us input[name="subject"] {
  width: 700px;
  margin-top: 70px;
}

.section-contact-us input[name="message"] {
  margin-top: 170px;
  margin-bottom: 60px;
  width: 700px;
}

.section-contact-us input::placeholder {
  color: #BBB;
  word-wrap: break-word;
  word-break: break-all;
}
